#jumbo{
 height: 95vh;
background-image: url(../assets/background.jpg);
background-size: 100% 100%;
padding-top: 20%;
background-repeat: no-repeat;
color: #F9F5FA;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: bold;
text-align: center;
opacity: 0.9;
}
#formc{

    margin:5% 15% 5% 15%;
}